{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
    <meta name="twitter:url" content="{{ SITEURL }}/{{ article.url }}">
    <meta name="twitter:title" content="{{ SITENAME }} ~ {{ article.title|striptags }}">
    <meta name="twitter:description" content="{{ article.summary|striptags|escape }}">

    <!-- Facebook Meta Data -->
    <meta property="og:title" content="{{ SITENAME }} ~ {{ article.title|striptags }}"/>
    <meta property="og:description" content="{{ article.summary|striptags|escape }}"/>
    <meta property="og:image" content=""/>
{% endblock head %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}
    <section id="content">
        <article>
            <h2 class="post_title post_detail"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                                                  title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
            <div class="entry-content blog-post">
                {{ article.content }}
            </div>
            <div class="post_list">
                <span>By </span>
                <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
                <span> in </span>
                <span class="post_category"><a href="{{ SITEURL }}/{{ article.category.url }}" rel="bookmark"
                                               title="Permalink to {{ article.category|striptags }}">{{ article.category }}</a></span>
                <span class="post_date">{{ article.locale_date }}</span>
                <div><span>Tags : </span>
                    {% if article.tags %}
                        {% for tag in article.tags %}
                            <span><a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}, </a></span>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="entry-social">
                    <span class="mail"><a
                            href="mailto:?subject={{ article.title|striptags }}&amp;body=I found this article about [{{ article.title|striptags }}] on {{ AUTHOR }}'s blog {{ SITEURL }}/{{ article.url }}. Check it out!"
                            title="Share by Email" target="_blank"><img
                            src="{{ SITEURL }}/theme/images/icons/mail-s.png"></a></span>
                </div>
            </div>
        </article>
    </section>
{% endblock %}
