<!doctype html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
        <meta charset="utf-8">
        <!-- Site Meta Data -->
        <title>{% block title %} {{ SITENAME }} | {{ SIDEBAR_DIGEST }} {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ AUTHOR_DESCRIPTION }}">
        <meta name="author" content="{{ AUTHOR }}">

        <link rel="shortcut icon" href="{{ FAVICON }}">

        <!-- schema.org -->
        <meta itemprop="name" content="{{ SITENAME }}">
        <meta itemprop="image" content="{{ AVATAR }}">
        <meta itemprop="description" content="{{ AUTHOR_DESCRIPTION }}">

        <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>-->
        <!-- Style Meta Data -->
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" type="text/css"/>
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css" type="text/css"/>

        <!-- Fork Awesome -->
        <!-- FIXME doesn't work <link rel="stylesheet" href="https://www.zrythm.org/dist/fork-awesome/css/fork-awesome.min.css">-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">

        <!-- Feed Meta Data -->
        {% if FEED_ALL_ATOM %}
            <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
                  title="{{ SITENAME }} ATOM Feed"/>
        {% endif %}
        {% if FEED_ALL_RSS %}
            <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate"
                  title="{{ SITENAME }} RSS Feed"/>
        {% endif %}

        <!-- Twitter Feed -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="{{ TWITTER_USERNAME }}">
        <meta name="twitter:image" content="">
    {% endblock %}
</head>

<body>
<!-- Sidebar -->
<aside>
    <!--<center><a href="{{ SITEURL }}"><img id="avatar" src="{{ AVATAR }}"></a></center>-->
    <h1><a href="{{ SITEURL }}/index.html" class="alextee">alextee</a></h1>
    {% if SIDEBAR_DIGEST %}
      <!--<p>{{ SIDEBAR_DIGEST }}</p>-->
    {% endif %}

    <p class="social">
        {% if SOCIAL %}
            {% for name, link, icon in SOCIAL %}
                <a class="social-icon" rel="me" href="{{ link }}" target="_blank">
                  <i class="fa {{ icon }}"
                     aria-hidden="true">
                  </i>
                </a>
            {% endfor %}
        {% endif %}
    </p>

    <nav class="nav">
        <ul class="list-bare">

            {% for title, link in MENUITEMS %}
                <li><a class="nav__link" href="{{ link }}">{{ title }}</a></li>
            {% endfor %}

            {% if DISPLAY_PAGES_ON_MENU and pages %}{% for p in pages %}
                <li><a class="nav__link" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
            {% endfor %}{% endif %}

        </ul>
    </nav>

    <p class="social">
        {% if FEED_ALL_ATOM %}
            <a href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" rel="alternate">
                <img src="{{ SITEURL }}/theme/images/icons/rss.png"></a>
        {% endif %}
        {% if FEED_ALL_RSS %}
            <a href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" rel="alternate">
                <img src="{{ SITEURL }}/theme/images/icons/rss.png"></a>
        {% endif %}
    </p>

    {% if DISPLAY_CATEGORIES_ON_MENU and categories %}
        <h2>Categories</h2>
        <ul class="navbar">
            {% for cat, null in categories %}
                <li{% if cat == category %} class="active"{% endif %}><a
                        href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if LINKS %}
        <h2 class="blog_roll_link"><br/>LINKS</h2>
        <ul class="navbar">
            {% for name, link in LINKS %}
                <li><a href="{{ link }}">{{ name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

</aside>

<!-- Content -->
<article>
    {% block content %}
    {% endblock %}
</article>

<!-- Footer -->
{% if DISPLAY_FOOTER or DISPLAY_FOOTER is not defined %}
    <footer>
        <p>
          Copyright &copy; 2019 Alexandros Theodotou | <a href="{{ SITEURL }}/license.html">Licenses</a>
        </p>
    </footer>
{% endif %}

</body>
</html>
