{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block content %}
    <h1>License Information</h1>
    <p>
      All posts and audio/images/video are licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>, unless otherwise stated.
    </p>
    <p>
      Code snippets are licensed under <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0</a>, unless otherwise stated.
    </p>
{% endblock %}
