{% extends "base.html" %}
{% block title %}{{ SITENAME }} | {{ page.title }}{% endblock %}

{% block content %}
  <section id="content" class="body">
    <h1 class="post_title post_detail">
      <a href="{{ SITEURL }}/{{ page.url }}"
         rel="bookmark"
         title="Permalink to {{ page.title|striptags }}">
        {{ page.title }}
      </a>
    </h1>

    {% if PDF_PROCESSOR %}
        <a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">
            get the pdf
        </a>
    {% endif %}
    {{ page.content }}
  </section>
{% endblock %}
