{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block title %}{{ SITENAME }} | tags{% endblock %}
{% block content %}
    <h2>Tags</h2>
    <ul>
        {% for tag, articles in tags %}
            <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
