html {
  font-family: 'Open Sans', 'helvetica', sans-serif;
  background: white;
  font-size: 14px;
}

.fa {
  font-size: 24px !important;
  letter-spacing: 1px;
  transition: all .1s ease-in-out;
}

.fa:hover {
  color: white;
}

a.social-icon {
  text-decoration: none !important;
}

/* Titles */
/*h1 { text-transform: uppercase }*/
h1, h2 {
	font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}

.alextee {
  text-decoration: none;
  color: white !important;
}

.title
{
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 50px;
  text-transform: none;
  color: #1DAEDF;
  line-height: 1;
  font-weight: 600;
}

.latest
{-
  padding: 10px 10px;
  border-bottom: 1px solid #eee;
}

.post_detail
{
  font-size: 2em;
  line-height: 1em;
}

.entry-content
{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: justify;
  color: #333;
}

article section .about
{
  font-size: 18px;
  color: #444;
  text-align: justify;
}

article section .blog-post
{
  font-size: 16px;
}

/* Body */
body {margin: 0}
body > article, footer {
  line-height: 1.6em;
  display: block;
  max-width: 700px;
  margin: 40px auto auto 355px;
  padding: 20px 80px 10px;
}

article ol.posts
{
  padding-left: 0;
}

/* Articles */
p.post_entry {
}
article > header {
  list-style-type: none;
  padding: 0px 10px;
  box-shadow: 0 0 0 2px #1DAEDF;
  -moz-border-radius: 5px 0;
  -webkit-border-radius: 5px 0;
  border-radius: 5px 5px;
}
.article_left > h1 {
  font-size: 20px;
}
.article_right {
  background-color: white;
}
.post_list {
  list-style-type: none;
  padding: 10px 10px;
  -moz-border-radius: 5px 0;
  -webkit-border-radius: 5px 0;
  border-radius: 5px 5px;
}


/* Links */;
a { color:#1DAEDF; text-decoration:none; }
a:visited { color:#1DAEDF; text-decoration:none; }
a:link { color:#1DAEDF; text-decoration:none; }
a:active { color:#1DAEDF; text-decoration:none; }
a:hover { text-decoration: underline; }

/* Code */
.highlight pre {
  font-size: 14px;
  overflow: auto;
  padding: 8px;
}

/* Sidebar */
aside {
  font-size: 14px;
  width: 220px; height: 100%;
  position: fixed;
  top: 0; left: 0;
  padding: 30px;
  background-color: #2980b9;
  color: white;
  box-shadow: 0 0 3px black;
  text-align: center;
  padding-top: 8%;
  background-size: cover;
}

aside > ul {
  list-style-type: none;
  padding: 0px 10px;
  margin-top: 0px;
}
aside > h2 {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 5px;
}

#avatar {
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 10px 20px 0;
  box-shadow: 0px 0px 5px 3px #1DAEDF;
  -webkit-transition: 200ms;
     -moz-transition: 200ms;
      -ms-transition: 200ms;
       -o-transition: 200ms;
          transition: 200ms;
}

#avatar:hover {
  box-shadow: 0px 0px 5px 3px white;
}

.social
{
  display: inline-block;
  margin-top: 0px;
}

.nav
{
  display: block;
  margin-left: -30px;
  margin-right: -30px;
  border: 1px solid #328cc7;
  margin-top: 30px;
  margin-bottom: 20px;
}

.nav > ul > li
{
  font-size: 15px;
}

.nav a
{
    color: #fff;
    text-decoration: none;
    transition: all .1s ease-in-out;
}

.nav a:hover
{
    background-color: #328cc7;
}

.list-bare
{
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__link
{
  display: block;
  padding: 0.77273rem 0;
  border-bottom: 1px solid #328cc7;
}


.blog_roll_link
{
  display: block;
  padding: 0.33147rem 0;
  border-bottom: 3px solid #328cc7;
}

table.docutils col {
    width: auto;
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  /*background-color: #1DAEDF;*/
  background-color: #4CAF50;
  color: white;
}

/*--------Responsive------------*/

@media (max-width: 800px) {

  aside {
    left: 0;
    max-width: none;
    position: relative;
    top: 0;
    width: 100%;
    padding: 0;
    padding-top: 1px;
  }

  .nav
  {
    margin-left: 0;
    margin-right: 0;
  }

  body > article {
    margin: 0 auto;
    padding-top: 5px;
    padding: 1em;
  }

  footer
  {
    padding: 1em;
    margin-left: 1em;
    margin-top: 0;
  }

  #avatar {
    height: 50px;
    width: 50px;
    margin: 10px auto;
  }
}

img {
  max-width: 100%;
}
